<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sinestesia de Emociones</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%- include('partials/header') %>
  <div class="containercenter">
  <main>
    <h2>Acerca de este Proyecto</h2>
        <p>Esta página es parte de un proyecto para la materia de Informática Aplicada 1 de la Universidad Nacional de las Artes (UNA).<br>
        Este es el proyecto final, diseñado para poner en práctica los conocimientos adquiridos durante el curso.<br> En él se integran conceptos de desarrollo web, gestión de bases de datos, y manejo de sesiones, entre otros.</p>
  </main>
</div>
  <%- include('partials/footer') %>
</body>
</html>
