<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Registro Exitoso</title>
</head>
<body>
  <div class="containercenter">
    <h1>¡Usuario creado exitosamente!</h1>
    <p>Serás redirigido al inicio de sesión en unos segundos.</p>
  </div>
  <script>
    setTimeout(() => {
      window.location.href = '/login';
    }, 3000);
  </script>
</body>
</html>
