<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sinestesia de Emociones</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%- include('partials/header') %>
  <div class="containercenter">
  <main>
    <h1>Contacto</h1>
    <p>Si tienes alguna pregunta o comentario, no dudes en ponerte en contacto.</p>
    <h2>Mis Datos de Contacto:</h2>
    <p><strong>Mi mail:</strong> <a href="mailto:maineromartina06@gmail.com">maineromartina06@gmail.com</a></p>
    <p><strong>Teléfono:</strong> +542984897669</p>
    <p><strong>Redes Sociales:</strong> <a href="https://www.instagram.com/mainero_martina/" target="_blank">mainero_martina (instagram)</a></p>  
</main>
</div>
  <%- include('partials/footer') %>
</body>
</html>
